
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif; 
    font-weight: lighter;
}
body { 
    font-size: 24px; 
    margin: 0 auto; 
    width: 75%; 
    text-align: center; 
    background: white; 
    color: rgba(0,0,0,0.87); 
    
}
hr { 
    color: #F19929;
    border: 1px solid;
}
h1 { 
    /*font-weight: 300;*/ 
    color: rgba(0,0,0,1); 
    margin-top: 12px; 
    margin-bottom: 12px;
}
h2 { 
    color: #407F46; 
    /*font-weight: bold;*/ 
    margin: 0 0 8px; 
}
h3 { 
    margin-top: 0px; 
    color: #407F46; 
}
h4 { 
    color: #27BFE6; 
    /*font-weight: bold;*/ 
}
p { 
    text-align: justify; 
    line-height: 140%; 
    margin: 16px 0 24px; 
}
a {
    color: #407F46; 
    text-decoration: none; 
}
.big {
    width: 60%; 
    min-width: 450px;
}
.media {
    width: 100%; 
    min-width: 100px;
    vertical-align: middle;
}
.small {
    width: 15%; 
    min-width: 150px;
}
.boxBlue { 
    display: block; 
    text-align: center; 
    background: #27BFE6; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}
.boxGreen { 
    display: block; 
    text-align: center; 
    background: #407F46; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px; 
    box-shadow: 1px 1px 1px rgba(0,0,0,0.12), 1px 1px 1px rgba(0,0,0,0.12); 
}
.boxYellow { 
    display: block; 
    text-align: center; 
    background: #FBC412; 
    text-transform: none; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}
.lang { 
    margin-right: 88%; 
    font-size: 12px; 
    color: white; 
    background: #27BFE6; 
    padding: 3px 9px; 
    border-radius: 6px;
}
.bgdark{
    display: flex;
    background-color: rgb(50, 50, 50);
    padding: 12px;
    width: 50%;
    min-width: 210px;
    max-width: 300px;
    margin: 0px auto;
    border-radius: 12px;
}
.bglight{
    width: 100%;
    display: flex;
    gap: 3px;
    border: 1px none black;
    margin: 0px auto;
    padding-bottom: 24px;
    padding-top: 24px;
    
}
.pic{
    border: 1px none cyan;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.objs{
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 30px;
    justify-content: center;
}
.objs img{
    border-radius: 12px;
    border: 1px solid white;
    width: 150px;
    height: 150px;
}
.goals{
    width: 150px;
}

    @media (max-width: 1300px) {   
        .objs{
            display: grid;
            grid-template-columns: repeat(3, 150px);
            gap: 45px;
        }
    }
    @media (max-width: 900px) {   
        .objs{
            display: grid;
            grid-template-columns: repeat(2, 150px);
            gap: 60px;
        }
    }
    @media (max-width: 600px) {
        .objs{
            display: grid;
            grid-template-columns: repeat(1, 150px);
            gap: 30px;
        }
        body { 
            width: 84%; 
            margin-top: 0; 
            background: white; 
            box-shadow: none; 
            border-top: 12px solid #FBC412; 
            border-bottom: 12px solid #FBC412; 
        }
		.big { 
            width: 95%; 
            min-width: 270px;
        }
        .media { 
            width: 84%;
            border: 1px none white;
            padding-top: 12px;
            padding-bottom: 12px;
        }
		.small { 
            width: 30%; 
        }
		p { 
            text-align: justify; 
            font-size: 18px; 
        }
		h3 { 
            font-size: 21px; 
        }
		h5 { 
            font-size: 15px; 
        }
		.boxGreen { 
            font-size: 18px; 
        }
        .bgdark img{
            width: 180px;
        }

        .bglight{
            display: block;
        }
        .pic{
            width: 75%;
        }
        .goals{
            width: 120px;
        }
    }